/* Write your CSS below. */
.skills-header {
  color: rebeccapurple;
}
body {
  font-family: sans-serif;
  text-align: center;
  color: darkolivegreen;
}

p {
  font-family: "Helvetica", sans-serif;
  color: darkgreen;
  font-display: block;
}

h1,
h2,
h3 {
  font-family: "Georgia", serif;
  font-weight: bold;
  text-decoration: underline solid rgb(0, 0, 255);
  font-kerning: normal;
}

.languages-list {
  list-style-image: url("./globe.png");
}

li::marker {
  height: 10px;
  width: 10px;
}

img.profile-photo {
  border: 1px solid blue;
}

a {
  color: red;
  font-size: small;
}

/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgb(222, 87, 145) 9%,
    rgb(138, 220, 195) 52%,
    rgb(232, 133, 133) 100%
  );
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2,
h3 {
  font-size: 20px;
  fo
}
