/* Write your CSS below. */

/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
}

.profile-photo {
  border: 1px solid blue;
}

ul {
  list-style-type: none;
  text-align: center;
  margin-right: 40px;
}

ol {
  font-weight: bold;
  text-align: center;
  margin-right: 40px;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

.languages-list {
  list-style-image: url("./assets/globe.png");
}

.languages-list li:last-child:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(circle,
      rgba(159, 193, 201, 1) 9%,
      rgba(224, 209, 221, 1) 52%,
      rgba(0, 212, 255, 1) 100%);
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

h2,
h3 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-decoration: underline blue;
  font-family: Georgia, serif;
}

a {
  color: red;
}

.skills-header {
  color: rebeccapurple;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}